body {
  font-family: "Roboto", sans-serif;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  font-size: 27px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: black;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}

#update {
  font-size: small;
}

.container {
  max-width: 800px;
}
.wrapper {
  background-color: #c9ffff;
  border: 3px solid #000;
}

.measure {
  display: none;
  font-size: 14pt;
}

.dateTime {
  font-weight: bold;
}

.details {
  font-size: small;
}
.far {
  color: orange;
}

.fas {
  color: gray;
}
.spf {
  display: inline-block;
  margin-top: 0;
  margin-bottom: auto;
  text-align: center;
}
.icon {
  margin-top: 20px;
  margin-bottom: auto;
  align-content: center;
}
.updated {
  padding-top: 15px;
}
.search-button {
  margin: 0 auto;
  padding: 7px;
  background: #d3a5fc;
  color: #ffffff;
  font-size: 12px;
  border: 1px solid #d3a5fc;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}
.search-button:hover {
  background: #ffffff;
  color: #d3a5fc;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.locationButton {
  margin: 10px auto;
  padding: 4px;
  background: #d3a5fc;
  color: #ffffff;
  font-size: 12px;
  border: 1px solid #d3a5fc;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}
.locationButton:hover {
  background: #ffffff;
  color: #d3a5fc;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.upcoming {
  background-image: linear-gradient(to bottom right, #c9ffff, #f9d1f4);
  padding: 10px;
  margin-bottom: 20px;
}
.top-row {
  background-image: linear-gradient(to bottom left, #c9ffff, #f9d1f4);
  padding: 5px;
}

.weather-temperature .units {
  /* position: relative; */
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
